# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
springCloudXzy-interface/springCloudXzy-interface-user/target/
springCloudXzy-service/springCloudXzy-service-order/target/
springCloudXzy-service/springCloudXzy-service-user/target/
springCloudXzy/target/
